*{box-sizing: border-box;}
.container{
    display: flex;
    border: 2px solid black;

}
.box-01{
    border: 1px solid black;
    margin: 2px;
    width: 70vw;
    
}

/* 01-NAVBAR */
.navbar{
    border: 1px solid red;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
ul>li,ul>li>a{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 2px 5px 2px 5px;
    border-radius: 10px;
}
.nav-1,.nav-2{
    /* border: 1px dotted black; */
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: space-around;

}
a>button:hover{
    background-color: orangered;
    color: white;
    border: 1px solid black;
}

/*12- main title*/
.main-title{
    /* border: 1px dotted rgb(18, 218, 58); */
    margin: 2px 20px;
    padding: 10px;
}

/* 13- menu-bar */
.bt{
    background-color: white;
    border: 1px solid rgb(101, 99, 99);
    margin: 2px 10px 2px 10px;
    padding: auto;
    color:black
}
.menu-bar>a>button:hover{
    background-color: navy;
    color: white;
}
.menu-bar>a>button>img:hover{
    background-color: white;
}
/* 14 form */
.box-one{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
